<mat-card>
  <mat-card-title>Atualizar documento:</mat-card-title>
  <form #f="ngForm">
    <mat-form-field>
        <input matInput type="number" placeholder="Número:" [(ngModel)]="posts.numero" name="numero" required="required">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="date" placeholder="Data:" [(ngModel)]="posts.data" name="data"  required="requerid">
    </mat-form-field>
    <mat-form-field>
        <input matInput  placeholder="Texto:" [(ngModel)]="posts.text" name="text"  required="requerid">
    </mat-form-field>
</form>
<button mat-raised-button  color="primary" (Click)="updatePosts()" [disabled]="!f.valid">
    Salvar
    </button>
    <button mat-raised-button  color="warn">
    Cancelar
    </button>
</mat-card>
