<mat-card>
  <mat-card-title>
   Documento:
  </mat-card-title>
  <button mat-raised-button (click)="navigatorToPostCreate()" color="primary">
      Cadastrar
  </button>

</mat-card>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="posts" >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef >Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef >numero </th>
      <td mat-cell *matCellDef="let row">{{row.numero}}</td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef >data</th>
      <td mat-cell *matCellDef="let row">{{row.data}}</td>
    </ng-container>

    <ng-container matColumnDef="text">
      <th mat-header-cell *matHeaderCellDef >text</th>
      <td mat-cell *matCellDef="let row">{{row.text}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef >Editar / Deletar</th>
      <td mat-cell *matCellDef="let row">
          <a routerLink="/list/update{{row.id}}" class="edit">
            <button mat-raised-button  color="primary"> Editar</button>
          </a>
          <a routerLink="/list/delete{{row.id}}" class="delete">
              <button mat-raised-button  color="warn"> Excluir</button>
          </a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>



