<div class="container-fluid" >
  <div class="d-flex justify-content-center h-100">
    <div class="card bg-light">
      <div class="card-body">
      <h1>Login</h1>
      <div class="card-body ">
  <form >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email </label>
      <input data-test="inputEmailLogar" type="email" class="form-control" id="emailLogar" aria-describedby="emailHelp" placeholder="Digite o Email">
      <div id="emailHelp" class="form-text">Nunca compartilhe seu e-mail com mais ninguém.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input data-test="inputPasswordLogar" type="password" class="form-control" id="passwordLogar" placeholder="Digite o password">
    </div>
    <div class="button d-grid gap-2 col-6 mx-auto  text-center">
    <button data-test="buttonLogar" type="submit" id="btnLogar" class="btn btn-primary" [routerLink]="['/list']" routerLinkActive="router-link-active" >Logar</button>
  </div>
  </form>
</div>
</div>
</div>
  </div>

